<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.funniture.rental.model.dao.RentalMapper">

    <resultMap id="rentalResultMap" type="com.ohgiraffers.funniture.rental.model.dto.RentalDTO">
        <id property="rentalNo" column="rental_no"/>
        <result property="memberId" column="member_id"/>
        <result property="ownerNo" column="owner_no"/>
        <result property="rentalInfoNo" column="rental_info_no"/>
        <result property="destinationNo" column="destination_no"/>
        <result property="productNo" column="product_no"/>
        <result property="rentalNumber" column="rental_number"/>
        <result property="orderDate" column="order_date"/>
        <result property="rentalStartDate" column="rental_start_date"/>
        <result property="rentalEndDate" column="rental_end_date"/>
        <result property="rentalState" column="rental_state"/>
        <result property="deliverCom" column="deliver_com"/>
        <result property="deliveryNo" column="delivery_no"/>
        <result property="deliveryMemo" column="delivery_memo"/>

        <association property="memberDTO" javaType="com.ohgiraffers.funniture.rental.model.dto.MemberDTO">
            <id property="memberId" column="member_id"/>
            <result property="email" column="email"/>
            <result property="password" column="password"/>
            <result property="userName" column="user_name"/>
            <result property="phoneNumber" column="phone_number"/>
            <result property="signupDate" column="signup_date"/>
            <result property="memberRole" column="member_role"/>
            <result property="isConsulting" column="is_consulting"/>
            <result property="imageLink" column="image_link"/>
            <result property="imageId" column="image_id"/>
        </association>
        <association property="postAddressDTO" javaType="com.ohgiraffers.funniture.rental.model.dto.PostAddressDTO">
            <id property="destinationNo" column="destination_no"/>
            <result property="memberId" column="member_id"/>
            <result property="destinationName" column="destination_name"/>
            <result property="destinationPhone" column="destination_phone"/>
            <result property="receiver" column="receiver"/>
            <result property="destinationAddress" column="destination_address"/>
        </association>
        <association property="productDTO" javaType="com.ohgiraffers.funniture.rental.model.dto.ProductDTO">
            <id property="productNo" column="product_no"/>
            <result property="productName" column="product_name"/>
            <result property="ownerNo" column="owner_no"/>
            <result property="totalStock" column="total_stock"/>
            <result property="usedStock" column="used_stock"/>
            <result property="categoryCode" column="category_code"/>
            <result property="regularPrice" column="regular_price"/>
            <result property="productContent" column="product_content"/>
            <result property="productStatus" column="product_status"/>
            <result property="productImageLink" column="product_image_link"/>
            <result property="productImageId" column="product_image_id"/>
        </association>
        <association property="rentalOptionInfoDTO" javaType="com.ohgiraffers.funniture.rental.model.dto.RentalOptionInfoDTO">
            <id property="rentalInfoNo" column="rental_info_no"/>
            <result property="productNo" column="product_no"/>
            <result property="rentalTerm" column="rental_term"/>
            <result property="rentalPrice" column="rental_price"/>
            <result property="asNumber" column="as_number"/>
        </association>
        <association property="ownerInfoDTO" javaType="com.ohgiraffers.funniture.rental.model.dto.OwnerInfoDTO">
            <id property="storeNo" column="store_no"/>
            <result property="memberId" column="member_id"/>
            <result property="storeName" column="store_name"/>
            <result property="storeAddress" column="store_adress"/>
            <result property="account" column="account"/>
            <result property="bank" column="bank"/>
            <result property="attechmentLink" column="attechment_link"/>
        </association>
    </resultMap>

    <select id="findRentalAllListByAdmin" resultMap="rentalResultMap">
        SELECT
        r.rental_no,
        m.user_name,
        r.rental_state,
        p.category_code,
        p.product_name,
        r.rental_start_date,
        r.rental_end_date,
        r.rental_number,
        o.store_name

        FROM
        tbl_rental r
        LEFT JOIN tbl_member m ON r.member_id = m.member_id
        LEFT JOIN tbl_ownerinfo o ON m.member_id = o.member_id
        LEFT JOIN tbl_product p ON r.product_no = p.product_no

        ORDER BY r.order_date DESC
    </select>
</mapper>