<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.funniture.rental.model.dao.RentalMapper">
    <resultMap id="rentalResultMap" type="com.ohgiraffers.funniture.rental.model.dto.RentalDTO">
        <id property="rentalNo" column="rental_no"/>
        <result property="memberId" column="member_id"/>
        <result property="ownerNo" column="owner_no"/>
        <result property="rentalInfoNo" column="rental_info_no"/>
        <result property="destinationNo" column="destination_no"/>
        <result property="productNo" column="product_no"/>
        <result property="rentalNumber" column="rental_number"/>
        <result property="orderDate" column="order_date"/>
        <result property="rentalStartDate" column="rental_start_date"/>
        <result property="rentalEndDate" column="rental_end_date"/>
        <result property="rentalState" column="rental_state"/>
        <result property="deliverCom" column="deliver_com"/>
        <result property="deliveryNo" column="delivery_no"/>
        <result property="deliveryMemo" column="delivery_memo"/>


    </resultMap>

</mapper>